.flex-container {
  display: flex;
  border: 2px solid black;
  max-width: 350px;
  margin-bottom: 10px;
  justify-content: center;
}

.item {
  background-color: orangered;
  margin: 5px;
  font-size: 24px;
  text-align: center;
  color: write;
}

.s-1 {
  flex-shrink: 1;
}

.fg-1 {
  flex-grow: 1;
  flex-basis: 200px;
}

.s-2 {
  flex-shrink: 2;
  flex-basis: 100px;
}

.s-3 {
  flex-shrink: 3;
  flex-basis: 100px;
}